<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>CALS Corporation</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS" name="description">
	<meta content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS" name="keywords">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<meta property="og:type" content="website"> 
	<meta property="og:title" content="장암칼스 - CALS Corporation">
	<meta property="og:description" content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS">
	<meta property="og:image" content="https://cals-corp.com/img/cals_logo/Logo_CALS3.png">
	<meta property="og:url" content="https://cals-corp.com">  

    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/top.js}"></script>
	
	<script src="lib/isotope/isotope.pkgd.min.js"></script>
	<script src="lib/wow/wow.min.js"></script>
	
	
	<!-- Table -->	
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/datatables-demo.js}"></script>	  
	   
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />


	<!-- Favicons -->
	<link th:href="@{/img/favicon-32x32-removebg.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
	
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
	
	<!-- Bootstrap CSS File -->
	<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	
	<!-- Libraries CSS Files -->
	<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
	<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
	<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
	

	<!-- Main Stylesheet File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">



        <!-- Uncomment below i you want to use a preloader -->
        <!-- <div id="preloader}"></div> -->
      
        <!-- JavaScript Libraries -->
        <!-- <script th:src="@{/lib/jquery/jquery.min.js}"></script> -->
        <!-- <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script> -->
        <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/lib/easing/easing.min.js}"></script>
        <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
        <script th:src="@{/lib/superfish/superfish.min.js}"></script>
        
        <!-- 메뉴 팝업와우 -->
        <!-- <script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script> -->
        <!-- <script th:src="@{/lib/wow/wow.min.js}"></script>  -->

        <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
        <script th:src="@{/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>

        <!-- Contact Form JavaScript File -->
        <script th:src="@{/contactform/contactform.js}"></script>
      
        <!-- Template Main Javascript File -->
        <script th:src="@{/js/main.js}"></script>
        
          <!-- <div class="tables-script" >
            
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script th:src="@{/js/datatables-demo.js}"></script>
        
          </div> -->








  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<script>

	

    $(document).on("click", "ul.product-filters li", function(e) {
		// $('.product-container').isotope('destroy');		

		$("#product-filters li").removeClass('filter-active');
		$(this).addClass('filter-active');

		var productIsotope = $('.product-container').isotope({
			itemSelector: '.product-item',
			layoutMode: 'fitRows',
    		filter : $(this).data('filter') // 초기값 아무것도 없이 올리기
		});

	    // productIsotope.isotope({ filter: $(this).data('filter') });




		$('#product-filter-items').show();
	
	});

$(function () {
	$('#selectCateNo').on("change", function() {
		

		// create filter
		createFilter();

		createFilterItems();


		$('#product-filter-items').hide();

      
  });  
});


  function createFilter() {
	var cateNo = $('#selectCateNo option:selected').val();            
	var langType = $("#langTypeProduct").val();    

	$.ajax({
        type: 'POST',
        url: 'getFieldList',
        data: { 'langType' : langType,
                'cateNo' : cateNo}
  
      }).done(function(data) {

		$('#product-filters').empty();

		let filter = '';

		$.each(data, function(key, value) {
			
			filter += '<li data-filter=".filter-' + value.fieldNo + '" > ' + value.fieldNm + '(' + value.itmCount + ')</li>';

		});
		$('#product-filters').append(filter);
      });
  }


  function createFilterItems() {
	var cateNo = $('#selectCateNo option:selected').val();            
	var langType = $("#langTypeProduct").val();    

	$.ajax({
        type: 'POST',
        url: 'getFieldItemList',
        data: { 'langType' : langType,
                'cateNo' : cateNo}
  
      }).done(function(data) {

		$('#product-filter-items').empty();

		let filteritems = '';

		$.each(data, function(key, value) {
			// let filteritems = '';

			filteritems += '<div class="col-lg-4 col-md-6 product-item filter-' + value.fieldNo + '" data-wow-delay="10.1s">';
			filteritems += '<div class="product-wrap">';
			filteritems += '<figure>';

			if (!value.tp100900Id) {
				// filteritems += '<img src="/img/product/no_image.png" class="img-fluid" alt="" >';
			} else {
				filteritems += '<img src="https://cals-corp.com/link/sdc112/' + value.tp100900Id + '" class="img-fluid" alt="">';
			}


			if (!value.tP100901Id) {
				// filteritems += '<a href="/img/product/no_image.png" data-lightbox="product" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>';
			} else {
				filteritems += '<a href="https://cals-corp.com/link/sdc112/' + value.tP100901Id + '" data-lightbox="product" data-title="' + value.fieldNm + '>' + value.itmNm + '" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>';
			}

			if (!value.tP100100Id) {
				// filteritems += '<a href="link/sdc112/abc.pdf" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>';
			} else {
				filteritems += '<a href="https://cals-corp.com/link/sdc112/' + value.tP100100Id + '" download = "' + value.tP100100Nm + '" class="link-details" title="DownLoad File"><i class="ion ion-android-open"></i></a>';
			}			

			filteritems += '</figure>';
			filteritems += '<div class="product-info">';
			filteritems += '<h4><font color=black>' + value.itmNm + '</font></h4>';
			filteritems += '<p>' + value.fieldNm + '</p>';
			
			// <p><a href = "" target = "_top"  class="link-preview" title="Specification"><i class="ion ion-eye"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
			// </p>

			if (!value.tP100100Id) {
				// filteritems += '<a href="link/sdc112/abc.pdf" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>';
			} else {
				filteritems += '<a href="https://cals-corp.com/link/sdc112/' + value.tP100100Id + '" download = "' + value.tP100100Nm + '" class="link-details" title="DownLoad File"><i class="ion ion-android-open"></i></a>';
			}			

			filteritems += '</div>';
			filteritems += '</div>';
			filteritems += '</div>';
			// $('#product-filter-items').isotope( 'insert', filteritems );

			// $('#product-filter-items').append(filteritems);	

		});
		$('#product-filter-items').append(filteritems);	
      });	  

  }



</script>


	<body>


        <input type="hidden" id="langType" name="hiddenClass" value="${langType}">
        <input type="hidden" id="cateNo" name="hiddenClass" value="${cateNo}">

		<header id="header">
			<div th:replace="/fragments/menu :: menu"></div>
		</header>

		<div th:replace="/fragments/intro :: intro"></div>

		<main id="main">
			<div th:replace="/fragments/about :: about"></div>
			<div th:replace="/fragments/product :: product"></div>
			<div th:replace="/fragments/searchProduct :: searchProduct"></div>
			<!-- <div th:replace="/fragments/certifications :: certifications"></div> -->
			<!-- <div th:replace="/fragments/machinesLabs :: machinesLabs"></div> -->
			<div th:replace="/fragments/youtube :: youtube"></div>

		</main>
		
		<div th:replace="/fragments/footer :: footer"></div>
		<!-- <div th:replace="/fragments/back2top :: back2top"></div> -->
		
		


	</body>
</html>

