<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>CALS Corporation</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS" name="description">
	<meta content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS" name="keywords">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<meta property="og:type" content="website">
	<meta property="og:title" content="장암칼스 - CALS Corporation">
	<meta property="og:description" content="특수그리스, 구리스, 그리스, 윤활유, 특수윤활유, 고온그리스, 내열구리스, 장암칼스, CALS">
	<meta property="og:image" content="/img/cals_logo/Logo_CALS3.png">
	<meta property="og:url" content="https://cals-corp.com">

	

	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
		crossorigin="anonymous" />


	<!-- Favicons -->
	<link th:href="@{/img/favicon-32x32-removebg.png}" rel="icon">
	<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
		rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
	<link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
	<link th:href="@{/lib/ionicons/css/ionicons.min.css}" rel="stylesheet">
	<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
	<link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">


	<!-- Main Stylesheet File -->
	<link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

	 <input type="hidden" id="langType" name="hiddenClass" th:value="${langType}">
	 <input type="hidden" id="cateNo" name="hiddenClass" th:value="${cateNo}">

	<header id="header">
		<div th:replace="fragments/menu :: menu"></div>
	</header>

		<div th:replace="fragments/intro :: intro"></div>

	<main id="main">
		<div th:replace="fragments/about :: about"></div>
		<div th:replace="fragments/product :: product"></div>
		<div th:replace="fragments/searchProduct :: searchProduct"></div>
		<div th:replace="fragments/certifications :: certifications"></div>
		<div th:replace="fragments/machinesLabs :: machinesLabs"></div>
		
		<!-- // 아리랑 유튜브 동영상 계약 안됨으로 배포 시 닫아야 함. 2021.03.01  -->
		<div th:replace="fragments/youtube :: youtube"></div>		

		<div th:replace="fragments/contact :: contact"></div>

	</main>
	
	<!-- Modal  -->
	<div th:replace="fragments/modal/specificationModal :: specificationModal"></div>
	<div th:replace="fragments/modal/historyModal :: historyModal"></div>
	<div th:replace="fragments/modal/visionModal :: visionModal"></div>

	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/back2top :: back2top"></div>
 


</body>

</html>