<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="back2top">
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- Uncomment below i you want to use a preloader -->
        <div id="preloader}"></div>
      
        <!-- JavaScript Libraries -->
        <script th:src="@{/lib/jquery/jquery.min.js}"></script>
        <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
        <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/lib/easing/easing.min.js}"></script>
        <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
        <script th:src="@{/lib/superfish/superfish.min.js}"></script>
        
        <!-- 메뉴 팝업와우 -->
        <script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/lib/wow/wow.min.js}"></script> 

        <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
        <script th:src="@{/lib/touchSwipe/jquery.touchSwipe.min.js}"></script>

        <!-- Contact Form JavaScript File -->
        <script th:src="@{/contactform/contactform.js}"></script>
      
        <!-- Template Main Javascript File -->
        <script th:src="@{/js/main.js}"></script>
        
        
        
          <div class="tables-script" >
            
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script th:src="@{/js/datatables-demo.js}"></script>
        
          </div>
    </div>
</body>
</html>