<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="machinesLabs">
    <section id="machinesLabs">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3><span th:text="${msgMap.get('MACHINES_LABS_Header_Title')}"></span></h3>
          <h4><span th:text="${msgMap.get('MACHINES_LABS_Header_SubTitle')}"></span></h4>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-6 wow fadeInUp" th:each="machine, i: ${machinesList}" data-wow-delay="0.1s">
            <div class="member">
              <img th:src="@{'/link/sdc112/'} + ${machine.fileId}" class="img-fluid" alt="" />
              <div class="member-info">
                <div class="member-info-content">
                  <h4 th:text="${machine.title}"></h4>
                  <span th:text="${machine.subTitle}"></span>

                  <div class="social">
                    <a th:href="@{'/link/sdc112/'} + ${machine.fileId}" th:attr="download=${machine.fileNm}"
                      class="link-details" title="DownLoad File"><i class="ion ion-android-open"></i></a>

                    <div th:if="${machine.redirectUrl} == ''">
                      <!-- 		                    <a href=""><i class="fa fa-twitter"></i></a> -->
                      <!-- 		                    <a href=""><i class="fa fa-facebook"></i></a> -->
                      <!-- 		                    <a href=""><i class="fa fa-google-plus"></i></a> -->
                      <!-- 		                    <a href=""><i class="fa fa-linkedin"></i></a> -->
                    </div>

                    <div th:unless="${machine.redirectUrl} != ''">
                      <a th:href="${machine.redirectUrl" target="_blank"><i class="fa fa-twitter"></i></a>
                      <a th:href="${machine.redirectUrl" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a th:href="${machine.redirectUrl" target="_blank"><i class="fa fa-google-plus"></i></a>
                      <a th:href="@{'/link/sdc112/'} + ${machine.fileId}" th:attr="download=${machine.fileNm}"><i
                          class="fa fa-download"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

</html>