<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="youtube">

    <section id="youtube" class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3><span th:text="${msgMap.get('YOUTUBE_Header_Title')}"></span></h3>
        </header>

        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div id="modal-dialog-youtube" class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div id="modal-content-youtube" class="modal-content">
                  <!--Body-->
                  <div class="modal-body mb-0 p-0">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                      <!-- 아리랑 유튜브 동영상 계약 안됨으로 배포 시 닫아야 함. 2021.03.01 -->
                      <!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/qtSVn6GRS38" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                       -->

                      <!-- 회사 동영상 추가 -->
                      <iframe width="1280" height="720" src="https://www.youtube.com/embed/9UGvStbhZWY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                      

                    </div>
                  </div>
                  

                  <!--Footer-->
                  <div class="modal-footer justify-content-center">
                    <span class="mr-4">Welcome to calscorps.com !</span>
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                      data-dismiss="modal">Close</button>
                  </div>
                </div>

                <!--/.Content-->

              </div>
            </div>
            <!--Modal: Name-->
            <a><img class="img-fluid z-depth-1" th:src="@{/img/youtube/video_cals_2021.gif}" alt="video" data-toggle="modal"
              data-target="#modal1">
          </a>
            <!-- <a><img class="img-fluid z-depth-1" th:src="@{/img/youtube/video_cals_2021.png}" alt="video" data-toggle="modal"
                data-target="#modal1">
            </a>            

            <a><img class="img-fluid z-depth-1" th:src="@{/img/youtube/video_cals_2021.png}" alt="video" data-toggle="modal"
              data-target="#modal1">
            </a>             -->

          </div>
          <!-- Grid column -->



        </div>
        <!-- Grid row -->

    </section>


  </div>
</body>

</html>